<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-text">
                <!--<img src="img/logo.png" alt="Logo del curs de cuina coreana">-->
                <h2>Contacte</h2>
                <p>Si tens qualsevol dubte o suggeriment, no dubtis a contactar-nos a través del nostre correu
                    electrònic:
                </p>
                <p>&copy; 2026 Curs de cuina coreana</p>
            </div>

            <div class="footer-dev">
                <picture class="footer-dev__picture">
                    <source srcset="img/dev.png?as=avif&width=600" type="image/avif">

                    <source srcset="img/dev.png?as=webp&width=600" type="image/webp">

                    <img src="img/dev.png?width=600" alt="Desenvolupadora del lloc web" class="footer-dev__img">
                </picture>
            </div>
        </div>
    </div>
</footer>